@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  transition: all .3s linear;
  -webkit-transition: all .3s linear; }

html,
body {
  position: relative;
  height: 100%;
  background: #f6f6f6; }

table,
td,
tr,
th {
  padding: 0;
  margin: 0;
  border: 0; }

:root {
  --whiteFont: #ffffff;
  --blackFont: #000000;
  --greenBg: #6E8337;
  --chengBg: #F6BA42;
  --blueBg: #A4C9FF; }

.clear {
  clear: both; }

#headBar {
  /*width: 100%;
  height: 5%;*/
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--whiteFont);
  background: var(--greenBg); }
  [data-theme="theme1"] #headBar {
    color: var(--whiteFont);
    background: var(--greenBg); }
  [data-theme="theme2"] #headBar {
    color: var(--blackFont);
    background: var(--chengBg); }
  [data-theme="theme3"] #headBar {
    color: var(--blackFont);
    background: var(--blueBg); }
  #headBar #skinBox {
    display: flex;
    justify-content: space-around; }
    #headBar #skinBox button {
      width: 20px;
      height: 20px;
      border: none;
      margin-right: 10px; }
  #headBar .select_skin {
    border: 1px solid #cccccc !important; }

#container {
  width: 98%;
  height: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%; }

.row {
  width: 100%;
  height: 100%;
  max-height: 500px; }

.headBar {
  height: 10%;
  padding: 10px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd; }

.titleBar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

/*===========================左边============================*/
#left {
  position: relative;
  width: 48%;
  height: 100%;
  float: left;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

.area_title {
  font-size: 14px;
  width: 40px;
  word-wrap: break-word;
  word-break: normal; }

#zhuanBtn, #copyBtn, #copyTitleBtn {
  width: 100px;
  height: 40px;
  border: 1px solid #cccccc;
  color: var(--whiteFont);
  background: var(--greenBg); }
  [data-theme="theme1"] #zhuanBtn,
  [data-theme="theme1"] #copyBtn,
  [data-theme="theme1"] #copyTitleBtn {
    color: var(--whiteFont);
    background: var(--greenBg); }
  [data-theme="theme2"] #zhuanBtn, [data-theme="theme2"] #copyBtn, [data-theme="theme2"] #copyTitleBtn {
    color: var(--blackFont);
    background: var(--chengBg); }
  [data-theme="theme3"] #zhuanBtn, [data-theme="theme3"] #copyBtn, [data-theme="theme3"] #copyTitleBtn {
    color: var(--blackFont);
    background: var(--blueBg); }

#panel-body {
  display: flex;
  position: relative;
  padding: 15px;
  padding-left: 0px;
  height: 80%; }
  #panel-body #toolBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid #cccccc; }
    #panel-body #toolBar .btn {
      padding: 5px;
      width: 70px;
      min-height: 30px;
      height: auto;
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      color: var(--whiteFont);
      background: var(--greenBg); }
      [data-theme="theme1"] #panel-body #toolBar .btn {
        color: var(--whiteFont);
        background: var(--greenBg); }
      [data-theme="theme2"] #panel-body #toolBar .btn {
        color: var(--blackFont);
        background: var(--chengBg); }
      [data-theme="theme3"] #panel-body #toolBar .btn {
        color: var(--blackFont);
        background: var(--blueBg); }
  #panel-body #edit-area {
    width: 85%;
    height: 100%;
    overflow-y: scroll; }

.area-box {
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; }
  .area-box .videoBox {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .area-box .videoBox .video-sub {
      display: flex;
      justify-content: space-between; }
    .area-box .videoBox p {
      font-size: 12px; }
  .area-box .picBox {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .area-box .picBox .pic-sub {
      display: flex;
      justify-content: space-between; }
    .area-box .picBox .pic_src {
      width: 81%;
      margin-left: 20px;
      border: 1px solid #000000; }
    .area-box .picBox .my-img {
      width: 100px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin-left: 45px;
      border: 1px solid #cccccc;
      color: var(--whiteFont);
      background: var(--greenBg); }
      [data-theme="theme1"] .area-box .picBox .my-img {
        color: var(--whiteFont);
        background: var(--greenBg); }
      [data-theme="theme2"] .area-box .picBox .my-img {
        color: var(--blackFont);
        background: var(--chengBg); }
      [data-theme="theme3"] .area-box .picBox .my-img {
        color: var(--blackFont);
        background: var(--blueBg); }
    .area-box .picBox .img-upload {
      display: none; }
    .area-box .picBox .img-area {
      overflow-x: scroll;
      /*word-wrap: break-word;
      word-break: normal;*/ }
  .area-box .btnBox {
    width: 20%; }
    .area-box .btnBox button {
      width: 100%;
      height: 30px;
      border: 1px solid #cccccc;
      color: var(--whiteFont);
      background: var(--greenBg); }
      [data-theme="theme1"] .area-box .btnBox button {
        color: var(--whiteFont);
        background: var(--greenBg); }
      [data-theme="theme2"] .area-box .btnBox button {
        color: var(--blackFont);
        background: var(--chengBg); }
      [data-theme="theme3"] .area-box .btnBox button {
        color: var(--blackFont);
        background: var(--blueBg); }

.txt-area,
.video-area,
.img-area {
  width: 65%;
  height: auto; }

.video-area,
.img-area {
  height: auto;
  width: 81%;
  margin-right: 15px; }

/*===============================右边=========================*/
#right {
  position: relative;
  width: 48%;
  height: 100%;
  float: right;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

#final-content {
  height: 80%;
  word-wrap: break-word;
  word-break: normal;
  overflow-y: scroll; }

/*===============================显示代码面板=============================*/
#content-show {
  position: relative;
  width: 50%;
  height: auto;
  min-height: 100px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

#panel-show {
  position: relative;
  padding: 15px;
  height: auto;
  max-height: 300px;
  word-wrap: break-word;
  word-break: normal;
  overflow-y: scroll; }

/*===============================蒙版===================================*/
#popBox {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }
  #popBox #pop_msg {
    font-size: 24px;
    color: #ffffff; }

/*# sourceMappingURL=index.css.map */
