@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  /*transition: all 1s linear;
  -webkit-transition: all 1s linear;*/ }

html,
body {
  position: relative;
  height: 100%;
  background: #f6f6f6; }

table,
td,
tr,
th {
  padding: 0;
  margin: 0;
  border: 0; }

.clear {
  clear: both; }

#headBar {
  /*width: 100%;
  height: 5%;*/
  padding: 20px;
  color: #ffffff;
  background: #6E8337; }

#container {
  width: 98%;
  height: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%; }

.row {
  width: 100%;
  height: 100%;
  max-height: 500px; }

.headBar {
  height: 10%;
  padding: 10px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd; }

.titleBar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

/*===========================左边============================*/
#left {
  position: relative;
  width: 48%;
  height: 100%;
  float: left;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

.area_title {
  font-size: 14px;
  width: 40px;
  word-wrap: break-word;
  word-break: normal; }

#zhuanBtn,
#copyBtn,
#copyTitleBtn {
  width: 100px;
  height: 40px; }

#panel-body {
  display: flex;
  position: relative;
  padding: 15px;
  padding-left: 0px;
  height: 80%; }
  #panel-body #toolBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid #cccccc; }
    #panel-body #toolBar .btn {
      width: 70px;
      min-height: 30px;
      height: auto;
      margin-bottom: 20px; }
  #panel-body #edit-area {
    width: 85%;
    height: 100%;
    overflow-y: scroll; }

.area-box {
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; }
  .area-box .videoBox {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .area-box .videoBox .video-sub {
      display: flex;
      justify-content: space-between; }
    .area-box .videoBox p {
      font-size: 12px; }
  .area-box .btnBox {
    width: 20%; }
    .area-box .btnBox button {
      width: 100%;
      height: 30px; }

.txt-area,
.video-area,
.img-area {
  width: 65%;
  height: auto; }

.video-area,
.img-area {
  height: auto;
  width: 81%;
  margin-right: 15px; }

/*===============================右边=========================*/
#right {
  position: relative;
  width: 48%;
  height: 100%;
  float: right;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

#final-content {
  height: 80%;
  word-wrap: break-word;
  word-break: normal;
  overflow-y: scroll; }

/*===============================显示代码面板=============================*/
#content-show {
  position: relative;
  width: 50%;
  height: auto;
  min-height: 100px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

#panel-show {
  position: relative;
  padding: 15px;
  height: auto;
  max-height: 300px;
  word-wrap: break-word;
  word-break: normal;
  overflow-y: scroll; }

/*# sourceMappingURL=index.css.map */
